
html{
    background-color: lightslategrey
}
#tema
{
    margin: 20px;
    text-align: center;
    
    
}

#con{
    font-size: 20px ;
    padding: 10px ;
    margin-top: 0px;
    margin-bottom: 0px;
    

      
}
#cuento{float: right;
color: white;}
#glo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
    

}

body{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 1050px;
    margin: auto;
   font-size: 18px;
    overflow: scroll;
   
}
#imagen{
margin-top: 100px;

}
#cursiva{
    font-style: oblique;
}


#pie-de-pagina{
clear: right;

}
#glosario{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   clear: right; 
   
  border: 5px solid black;

}
h3{
    text-align: center;
}
#cabecera{
    width: 1050px;
    background-color: black;
    color: antiquewhite;
position: fixed;

}